## In this codebase, the given data would be examined and data quality issues would be marked for them

In [1]:
import pandas as pd
import sqlite3

In [2]:
# creating in-memory SQL database
conn = sqlite3.connect(':memory:')

In [3]:
# reading the CSV files 
users = pd.read_csv("../cleansed_file/users_cleansed_data.csv")
brands = pd.read_csv("../cleansed_file/brands_cleansed_data.csv")
receipts = pd.read_csv("../cleansed_file/cleansed_receipts.csv")
receipts_items = pd.read_csv("../cleansed_file/cleansed_receipt_items.csv")

In [4]:
# creating tables in the in-memory SQLite database using the dataframe
users.to_sql('users', conn, index=False, if_exists='replace')
brands.to_sql('brands', conn, index=False, if_exists='replace')
receipts.to_sql('receipts', conn, index=False, if_exists='replace')
receipts_items.to_sql('receipts_items', conn, index=False, if_exists='replace')

6941

# Finding data quality issues in ***USERS*** table

In [5]:
# finding users whose role is not a consumer
user_role = "select * from users where role != 'consumer'"
user_role_df = pd.read_sql(user_role, conn)
print(user_role_df.to_string(index=False))

                  userID signUpSource state  active        role createdDate  lastLogin
59c124bae4b0299e55b0f330         None    WI       1 fetch-staff  2017-09-19 2021-02-08
5f2068904928021530f8fc34        Email    WI       1 fetch-staff  2020-07-28 2021-02-04
5fbc35711d967d1222cbfefc        Email  None       1 fetch-staff  2020-11-23 2021-02-26
5fc961c3b8cfca11a077dd33        Email    NH       1 fetch-staff  2020-12-03 2021-02-26
5fa41775898c7a11a6bcef3e        Email  None       1 fetch-staff  2020-11-05 2021-03-04
5fa32b4d898c7a11a6bcebce       Google    AL       1 fetch-staff  2020-11-04 2021-03-04
5964eb07e4b03efd0c0f267b         None    IL       1 fetch-staff  2017-07-11 2021-03-04
54943462e4b07e684157a532         None  None       1 fetch-staff  2014-12-19 2021-03-05

#### ***Analysis:***  In the documentation it was mentioned that the role field is defaulted to consumers, but few records had fetch-staff as their value. So, should we consider these userID in any of the analyses?

In [6]:
# finding count of missing values from every column in the user table
print(users.isnull().sum())

userID           0
signUpSource     5
state            6
active           0
role             0
createdDate      0
lastLogin       40
dtype: int64

#### ***Analysis:*** Few values were missing in the user table, as there were 5 missing values in signUpSource, 6 in state, and 40 in lastLogin.

#### ***Important Analysis:*** There were a lot of duplicate records in the user tables (more than half), which needed to be cleansed

# Finding data quality issues in ***Brands*** table

In [7]:
# finding count of missing values from every column in the brands table
print(brands.isnull().sum())

brandID           0
barcode           0
brandName         0
brandCode       269
category        155
categoryCode    650
cpgID             0
cpgRef            0
topBrand        612
dtype: int64

#### ***Analysis:*** There are a lot of missing values from the brands table, brandCode has 269  missing records, category has 155, categoryCode has 650 and topBrand 612

In [8]:
# finding brands which are dummy/ test brands
test_brands = "select count(1) testBrands_count from brands where brandName LIKE '%test%'"
test_brands_df = pd.read_sql(test_brands, conn)
print(test_brands_df.to_string(index=False))

 testBrands_count
              432

#### ***Analysis:*** There are a lot of test data in the brands table, do we need them in the analysis?

In [9]:
# finding duplicate barcode
dup_barcode = """select brandID, barcode, brandName, brandCode,category,topBrand from brands 
                 where barcode in (select barcode duplicate_barcode from brands group by barcode having count(barcode)>1)
                 order by barcode"""
dup_barcode_df = pd.read_sql(dup_barcode, conn)
print(dup_barcode_df.to_string(index=False))

                 brandID      barcode            brandName     brandCode            category  topBrand
5c409ab4cd244a3539b84162 511111004790                alexa         ALEXA              Baking       1.0
5cdacd63166eb33eb7ce0fa8 511111004790      Bitten Dressing        BITTEN Condiments & Sauces       NaN
5c45f91b87ff3552f950f027 511111204923               Brand1    0987654321             Grocery       1.0
5d6027f46d5f3b23d1bc7906 511111204923            CHESTER'S      CHESTERS              Snacks       NaN
5c4699f387ff3577e203ea29 511111305125     Chris Image Test    CHRISIMAGE                Baby       NaN
5d642d65a3a018514994f42d 511111305125 Rachael Ray Everyday  511111305125           Magazines       NaN
5a7e0604e4b0aedb3b84afd3 511111504139      Chris Brand XYZ      CHRISXYZ           Beverages       NaN
5a8c33f3e4b07f0a2dac8943 511111504139                 Pace          PACE             Grocery       0.0
5c408e8bcd244a1fdb47aee7 511111504788                 test          TEST              Baking       NaN
5ccb2ece166eb31bbbadccbe 511111504788    The Pioneer Woman PIONEER WOMAN Condiments & Sauces       NaN
5d6415d5a3a018514994f429 511111605058      Health Magazine  511111605058           Magazines       NaN
5c4637ba87ff35681e840d57 511111605058               Brand2   09090909090               Dairy       1.0
5a8c344ae4b0ccf165fac9e5 511111704140                Prego         PREGO Condiments & Sauces       0.0
5a7e0665e4b0aedb3b84afd4 511111704140      Diet Chris Cola    DIETCHRIS2                None       NaN

#### ***Analysis:*** As per the documentation, granularity of the brand table is at the brand level but it has a barcode column which corresponds to barcode of an item, if we have multiple items in a brand how are we showing multiple barcodes for a single brand? Also, it can be seen that there are duplicate entries for a barcode and the repeating barcodes have different values for every field.

In [10]:
# finding duplicate BrandCode 
dup_brandCode = "select * from brands where brandCode in('GOODNITES', 'HUGGIES') order by brandCode"
dup_brandCode_df = pd.read_sql(dup_brandCode, conn)
print(dup_brandCode_df.to_string(index=False))

                 brandID      barcode brandName brandCode category categoryCode                    cpgID cpgRef  topBrand
5db32879ee7f2d6de4248976 511111112938 GoodNites GOODNITES     Baby         BABY 55b62995e4b0d8e685c14213   Cogs         1
5bd200fc965c7d66d92731eb 511111204640 Goodnites GOODNITES     Baby         None 550b2565e4b001d5e9e4146f   Cogs         0
5bd2011f90fa074576779a17 511111704652   Huggies   HUGGIES     Baby         None 550b2565e4b001d5e9e4146f   Cogs         0
5c7d9cb395144c337a3cbfbb 511111707202   Huggies   HUGGIES     Baby         BABY 5459429be4b0bfcb1e864082   Cogs         1

#### ***Analysis:*** There are duplicate entries for brandCode, and these brandCode have the same brandName, and fall under the same category but topBrand flag is different for them.

In [11]:
# cpgID 

cateogry_cpgID = "select category, count(distinct cpgID) cpgID_count from brands where category!='' group by category order by cpgID_count;"
cateogry_cpgID_df = pd.read_sql(cateogry_cpgID, conn)
print(cateogry_cpgID_df.to_string(index=False))

                   category  cpgID_count
     Beauty & Personal Care            1
             Bread & Bakery            1
             Candy & Sweets            1
                       Deli            1
                    Outdoor            1
                     Beauty            2
       Canned Goods & Soups            2
Cleaning & Home Improvement            2
       Dairy & Refrigerated            2
                  Household            2
              Personal Care            2
          Beer Wine Spirits            3
        Condiments & Sauces            4
                      Dairy            4
                     Frozen            4
          Health & Wellness            4
                  Magazines            4
         Breakfast & Cereal            5
                     Snacks            6
                  Beverages            7
                       Baby            9
                    Grocery            9
                     Baking          149

#### ***Analysis:*** To my understanding cpgID represents a category or grouping of similar products, but as per the data multiple cpgID belongs to the same category. For eg: Beauty & Personal Care, Bread & Bakery, Candy & Sweets, Deli, Outdoor have 1 cpgID but rest of the categories have multiple cpgID.

# Finding data quality issues in ***Receipts*** table

In [12]:
# finding count of missing values from every column in the receipts table
print(receipts.isnull().sum())

receiptID                    0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptStatus         0
totalSpent                 435
userID                       0
dtype: int64

#### ***Analysis:***  There are a lot of missing records from the Receipt table

In [13]:
# finding sum of bonusPointsEarned and pointsEarned when totalSpend is null
query = "select sum(bonusPointsEarned), sum(pointsEarned) from receipts where totalSpent is null"
query_df = pd.read_sql(query, conn)
print(query_df.to_string(index=False))

sum(bonusPointsEarned) sum(pointsEarned)
                  None              None

#### ***Analysis:*** Many totalSpent records are missing, and hence it can be seen that bonusPointsEarned and pointsEarned are interdependent on totalSpent value

In [14]:
# finding sum of bonusPointsEarned and pointsEarned when purchasedItemCount is null
query = "select sum(bonusPointsEarned), sum(pointsEarned) from receipts where purchasedItemCount is null"
query_df = pd.read_sql(query, conn)
print(query_df.to_string(index=False))

sum(bonusPointsEarned) sum(pointsEarned)
                  None              None

#### ***Analysis:*** Many purchasedItemCount records are missing, and hence it can be seen that bonusPointsEarned and pointsEarned are interdependent on purchasedItemCount value

# Finding data quality issues in ***Receipt Items*** table

In [15]:
# finding count of missing values from every column in the receipts table
print(receipts_items.isnull().sum())

receiptID                                0
competitiveProduct                    6296
originalMetaBriteBarcode              6917
originalFinalPrice                    6932
pointsNotAwardedReason                6601
preventTargetGapPoints                6583
competitorRewardsGroup                6666
originalMetaBriteDescription          6931
userFlaggedQuantity                   6642
itemNumber                            6788
barcode                               3851
originalMetaBriteItemPrice            6932
rewardsGroup                          5210
userFlaggedDescription                6787
finalPrice                             174
userFlaggedNewItem                    6618
needsFetchReview                      6128
pointsPayerId                         5674
deleted                               6932
userFlaggedBarcode                    6604
itemPrice                              174
originalMetaBriteQuantityPurchased    6926
description                            381
userFlaggedPrice                      6642
priceAfterCoupon                      5985
metabriteCampaignId                   6078
pointsEarned                          6014
targetPrice                           6563
quantityPurchased                      174
brandCode                             4341
needsFetchReviewReason                6722
rewardsProductPartnerId               4672
originalReceiptItemText               1181
partnerItemId                            0
discountedItemPrice                   1172
dtype: int64

####  ***Analysis:*** There are many missing values in most of the fields, but key fields like barcode (uniquely distinguishes an item), brandCode (says about the brand), have many null values, and as these values are useful as brand information can be understood by them.

In [16]:
# Finding barcodes that are available in receipts_item table but missing from the brands table
brands_missingBrandCode = """select count(distinct a.BrandCode) brands_missingBrandCode
        from receipts_items a
        left join brands b
        on a.BrandCode = b.BrandCode 
        where b.BrandCode is null
        """

brands_missingBrandCode_df = pd.read_sql(brands_missingBrandCode, conn)
print(brands_missingBrandCode_df.to_string(index=False))

 brands_missingBrandCode
                     186

#### ***Analysis:*** A total of 186 barcodes were missing from the brand table, these barcode are very important to find the brandName. The possibility of these brandCode missing in the brands table are: 1. They don't exist; 2. They are not formatted properly (e.g "BEN & JERRY'S" in Brands but "BEN AND JERRYS" in receipts_items

In [17]:
# Finding barcodes that are available in receipts_item table but missing from the brands table
brands_missingBarcode = """select count(distinct a.barcode) brands_missingBarcode
        from receipts_items a
        left join brands b
        on a.barcode = b.barcode 
        where b.barcode is null
        """

brands_missingBarcode_df = pd.read_sql(brands_missingBarcode, conn)
print(brands_missingBarcode_df.to_string(index=False))

 brands_missingBarcode
                   552

####  ***Analysis:*** A total of 552 barcodes were missing from the brand table

#### ***IMPORTANT ANALYSIS:*** Theere is no defined relationship between the receipt and receipt_items table with the brand table, because of which it is difficult to fetch the brand details with the granularity of an item or receipt. Potential relation between the receipt_items table and brand table could be made by the below columns, but it has its own limitations.

1. Barcode: The barcode in the brands table is at a granularity of the brand, whereas the barcode in the item is at the item level. So there would be multiple barcodes for a single brand in the receipt_items table, but only 1 in brands table; hence many barocde are missing in the brand table.
2. BrandCode: Brandcode values are missing in the brands table, and if they exist there is no proper formatting between brands and receipt_items table

# Finding Data Quality issue while solving stakeholder questions

## Q. What are the top 5 brands by receipts scanned for most recent month?

In [18]:

query1 = """with ReceiptRecentScannedDate as 
            (
           select receiptID, dateScanned
           from receipts 
           where strftime('%Y-%m', dateScanned) = (select strftime('%Y-%m', max(dateScanned)) from receipts)
           ),
           
            barcodeRecentScannedDate as(
            select a.receiptID, a.dateScanned, b.barcode, b.Brandcode, b.rewardsProductPartnerId
            from receipts a
            inner join receipts_items b
            on a.receiptID = b.receiptID
            where a.receiptID in (select receiptID from ReceiptRecentScannedDate)
            )
            
            select brandName, count(brandName)
            from brands
            where barcode in (select barcode from barcodeRecentScannedDate)
            group by barcode
           """

In [19]:
query1_df = pd.read_sql(query1, conn)
print(query1_df.to_string(index=False))

Empty DataFrame
Columns: [brandName, count(brandName)]
Index: []

#### ***Analysis:*** Getting a Data quality issue here, as the barcodes fetched for the receipts that were scanned for the most recent month are not there in the brand table. I couldn't even consider Brandcode or rewardsProductPartnerId as both of them are null values

## Q. How does the ranking of the top 5 brands by receipts scanned for the recent month compare to the ranking for the previous month?

In [20]:

query2 = """with ReceiptPreviousScannedDate as 
            (
           select receiptID, dateScanned
           from receipts 
           where strftime('%Y-%m', dateScanned) = (select strftime('%Y-%m', DATE(max(dateScanned), '-1 month')) from receipts)
           ),
           
            barcodePreviousScannedDate as(
            select a.receiptID, a.dateScanned, b.barcode, b.Brandcode, b.rewardsProductPartnerId
            from receipts a
            inner join receipts_items b
            on a.receiptID = b.receiptID
            where a.receiptID in (select receiptID from ReceiptPreviousScannedDate)
            )
                        
            select brandName, count(brandName)
            from brands
            where barcode in (select barcode from barcodePreviousScannedDate)
            group by barcode

           """

In [21]:
query2_df = pd.read_sql(query2, conn)
print(query2_df.to_string(index=False))

Empty DataFrame
Columns: [brandName, count(brandName)]
Index: []

#### ***Analysis:*** Getting a Data quality issue here, as the barcodes fetched for the receipts that were scanned for the previous month are not there in the brand table.